<template>
  <div class="home">
    This model is created and then returned. <br/>
    {{JSON.stringify(example)}}
  </div>
</template>

<script>

import backend from '../backend'

export default {
  name: 'home',
  data: () => {
    return {
      example: {}
    }
  },
  mounted () {
    backend.testFetch()
      .then(response => {
        this.example = response
      })
  }
}
</script>
