<template>
    <div class='privacyPolicy'>
      <div class='contentWrapper' :class="$mq">
        <vue-markdown :source="markdown_source"></vue-markdown>
      </div>
    </div>

</template>

<script>
import VueMarkdown from 'vue-markdown'
import axios from 'axios'

export default {
  name: 'privacyPolicy',
  components: {
    'vue-markdown': VueMarkdown
  },
  data: function () {
    return {
      markdown_source: '# Test',
      baseUrl: process.env.BASE_URL
    }
  },
  mounted: function () {
    axios.get(this.baseUrl + 'privacy_policy.md').then(response => { this.markdown_source = response.data })
  }
}
</script>

<style lang="scss">
  .privacyPolicy {
    background-color: white;
    color: #252525;

    .contentWrapper {
      &.mobile {
        padding: 8px;
        max-width: 80%;
      }

      margin: auto;
      padding: 32px;
      max-width: 60%;
      &.mobile {
        h1 {
          font-size: 36px;
        }
        h2 {
          font-size: 26px;
        }
        h3 {
          font-size: 20px;
        }
        p, li{
          font-size: 16px;
        }
      }

      h1 {
        font-size: 46px;
      }
      h2 {
        font-size: 36px;
      }
      h3 {
        font-size: 28px;
      }
      p, li{
        max-width: 95%;
        font-size: 20px;
        margin: 16px auto;
      }
    }
  }

</style>
